
.center{
    margin-top: 25px;
    text-align: center;
}
.btn1{
    background-color: red;
}
.btn2{
    background-color: fuchsia;
}
.btn3{
    background-color: orange;
}
.btn4{
    background-color: yellow;
}
